.ContenedorTarjeta{
    margin: 0 auto;
    width: 90%;
    background-color: rgb(2, 71, 175);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.Tarjeta {
    border: 1px solid #002c7e;
    border-radius: 8px;
    padding: 16px;
    margin: 10px;
    background-color: rgb(253, 253, 253);
    box-shadow: 0 2px 4px rgba(35, 123, 255, 0.836);
    text-align: center;
    width: 200px;
}
.Tarjeta img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 4px;
}
.Tarjeta h3 {
    margin: 8px 0;
}
.Tarjeta p {
    margin: 8px 0;
}
.Tarjeta a {
    color: rgb(40, 123, 247);
    text-decoration: none;
}
.Tarjeta a:hover {
    text-decoration: underline;
}