h2{
    color: rgb(209, 70, 70);
}
h1{
    color: black;
}
.Encabezado{
    background-color: antiquewhite;
}
.Logo img{
    width: 100px;
}
.instagram img{
    width: 100px;
}
.facebook img{
    width: 100px;
}
.x img{
    width: 100px;
}
.youtube img{
    width: 100px;
}